{% load static %}
<body>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo"><a href="#">   Developed by YOUR-NAME 2024</a></div>
          <div class="footer-nav-content">
            <nav class="nav">
              <ul>
                <li><a href="{% url' index' %}">О нас</a></li>
                <li><a href="{% url 'products' %}">Продукция</a></li>
                <li><a href="{% url 'product' %}">Публикации</a></li>
                <li><a href="{% url 'recipes' %}">Рецепты</a></li>
              </ul>
            </nav>
            <div class="footer-link">
              <div class="network-link"><a href="#"><img src="{% static 'img/svg/instagram-icon.svg' %}"/></a><a href="#"><img src="{% static 'img/svg/facebook-icon.svg' %}"/></a><a href="#"><img src="img/svg/whatsapp-icon.svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>